CREATE TABLE IF NOT EXISTS study_plans (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  title TEXT NOT NULL,
  subtitle TEXT,
  duration TEXT,
  color TEXT DEFAULT 'blue',
  day_of_week INTEGER NOT NULL,
  week_start_date DATE NOT NULL,
  completed BOOLEAN DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
ALTER TABLE study_plans ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Users
can
manage
their
own
study
plans\ ON study_plans FOR ALL USING (auth.uid() = user_id);
